/*Genereal*/
body{
	color : black;
	font-family: Helvetica;
	background-color: white;
}

title{
	text-align: center;
	color : black;
	font-family: Helvetica;
}

button{
	background-color: #C6FAFF;
  	border: none;
  	color: white;
  	padding: 15px 25px;
  	display: inline-block;
}

h1{
	text-align: center;
	color : black;
	font-family: Helvetica;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  padding: 14px 25px;
}

th, td {
  text-align: center;
  padding: 15px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  	background-color: #b3ecff;
	font-family: Helvetica;
  	color: black;
  	text-align: center;
  	text-decoration: none;
  	font-size: 20px;
}

a{
  	background-color: white;
	font-family: Helvetica;
  	color: black;
  	text-align: center;
  	text-decoration: none;
  	font-size: 20px;
}

/*
 * Cabecera y pie de página
 */

#cabecera{
	text-align: center;
	padding:40px;
}

#pie{
	text-align: center;
	padding:50px;
}

div.logo{
	float:left;
  	text-align: center;
  	text-decoration: none;
  	width:80%;
}

div.disconect{
	float:right;
  	text-align: center;
  	text-decoration: none;
  	width:20%;
}

/*
 * Menú
 */

a.menu{
	background-color: #C6FAFF;
	font-family: Helvetica;
  	color:black;
  	text-align: center;
  	text-decoration: none;
  	padding: 14px 25px;
  	margin: 10px;
  	width:100%
  	font-size: 20px;
}

a.menu:hover:not(.active) {
	background-color: #83CAE0;
}

div.menu{
	background-color: #b3ecff;
	text-align: center;
	padding: 14px;
}

/*
 * Paginación
 */

a.paginas:hover:not(.active) {
	background-color: #83CAE0;
}

a.paginas {
	background-color: #C6FAFF;
  	color: black;
  	padding: 14px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	margin: 10px;
}

a.paginaSeleccionada {
	background-color: white;
  	color: black;
  	padding: 14px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	margin: 10px;
}

div.paginas{
	text-align: center;
}

form.paginas{
  	color: black;
  	padding: 14px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	margin: 10px;
}

input.paginacion{
	border-radius: 4px;
  background-color: #C6FAFF;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 80px;
  margin: 5px;
}

input.paginacion:hover:not(.active) {
	background-color: #83CAE0;
}

/*
 * Inicio
 */

div.agenda{
	float:left;
	width: 50%;
}

div.recursos{
	float:left;
	text-align:center;
	width: 50%;
}

/*
 * Mostrar con citas
 */

div.informacion{
	float:left;
	width: 100%;
}

div.datos{
	float:left;
	width: 50%;
}

div.citas{
	float:left;
	text-align:center;
	width: 50%;
}

/* Mensajes de Error */
div.error {
	color : red;	
	border : 2px solid red;
	padding : 10px;
	margin: 10px;
}

/*
 * botones (añadir)
 */

a.add {
	background-color: #C6FAFF;
  	color: black;
  	padding: 14px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	margin: 10px;
}

a.add:hover:not(.active) {
	background-color: #83CAE0;
}

/*
 * Especialidades
 */

div.espacialidades{
	width: 60%;
}

/*
 * codigo
 */

input.codigo {
	background-color: #b3ecff;
  	color: black;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
}

input.codigo:hover:not(.active) {
	background-color: #83CAE0;
}

/*
 * administracion
 */

div.usuarios{
	float:left;
	width: 70%;
}

div.usuarios{
	float:left;
	width: 70%;
}
div.numeros{
	float:left;
	width: 30%;
}
